<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {{#is file.meta.layout home}}
  <meta name="description" content="{{site.description}}">
  <title>{{site.title}}</title>
  {{else}}
  <meta name="description" content="{{ file.meta.description }}">
  <title>{{file.meta.title}} - {{site.title}}</title>
  {{/is}}

  {{> head-link}}

</head>

<body>

  <header class="docs-Masthead">
    <div class="Container Container--slim">
      <h1 class="docs-Masthead-title">Sircus</h1>
      <h2 class="docs-Masthead-lead">{{ site.description }}</h2>
      <p class="t-mb-mn">
        <a href="https://github.com/sircus">Work in Progress</a>
      </p>
      <p class="docs-Masthead-author">Created by <i class="icon-blivesta"></i> <a href="http://blivesta.com">blivesta</a></p>
      <p>
        <a href="https://github.com/sircus/sircus" class="Button Button--border Button--primary">Download on GitHub</a>
      </p>
    </div>
  </header>

{{{block "content"}}}

{{> footer}}

</body>
</html>
